.spider {
  width: 200px;
  height: 20px;
  float: left;
}

.america {
  width: 200px;
  height: 20px;
  float: left;
}

.falcon {
  width: 200px;
  height: 20px;
  float: left;
}

.wolf {
  width: 200px;
  height: 20px;
  float: left;
}

.thor {
  width: 200px;
  height: 20px;
  float: left;
}

.head {
  width: 1025px;
  height: 20px;
}
